@keyframes rotate-right {
  from {
    transform: rotate(360deg);
  }
}

@keyframes rotate-left {
  from {
    transform: rotate(-360deg);
  }
}

@keyframes move-up {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-8rem);
    opacity: 0;
  }
}
