*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 10px */
}

body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
}

p {
  word-break: break-all;
}

option {
  background-color: tint($color-grey, 90%);
  color: #232323;
}
