body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $medium-font-size;
}

.heading--primary {
  font-family: "Allerta Stencil", sans-serif;
  font-size: 10rem;
  font-weight: 100;
  color: $color-white;
}

.heading--secondary {
  font-size: 4rem;
  font-weight: 200;
  color: tint($color-primary, 30%);
}

.heading--tertiary {
  font-weight: 400;
  color: $color-white;

  display: flex;
  align-items: center;
  gap: 1rem;
}
