// MARGIN BOTTOM
.margin-b-tn {margin-bottom: 1rem;}
.margin-b-sm {margin-bottom: 2rem;}
.margin-b-md {margin-bottom: 4rem;}
.margin-b-bg {margin-bottom: 6rem;}
.margin-b-hg {margin-bottom: 8rem;}

// MARGIN TOP
.margin-t-tn {margin-top: 1rem;}
.margin-t-sm {margin-top: 2rem;}
.margin-t-md {margin-top: 4rem;}
.margin-t-bg {margin-top: 6rem;}
.margin-t-hg {margin-top: 8rem;}
