// MARGIN BOTTOM
.margin-b-tn {margin-bottom: 1rem;}
.margin-b-sm {margin-bottom: 2rem;}
.margin-b-md {margin-bottom: 4rem;}
.margin-b-bg {margin-bottom: 6rem;}
.margin-b-hg {margin-bottom: 8rem;}

// MARGIN TOP
.margin-t-tn {margin-top: 1rem;}
.margin-t-sm {margin-top: 2rem;}
.margin-t-md {margin-top: 4rem;}
.margin-t-bg {margin-top: 6rem;}
.margin-t-hg {margin-top: 8rem;}

// DISPLAY
.hidden{ display: none; }


// STYLE
.underline-animation {
    @include centered-flex;
    cursor: pointer;
    position: relative;
    transition: all 0.5s;

    &:before {
      content: "";
      position: absolute;
      bottom: -.75rem;
      left: 0;
      width: 0;
      height: 1.5px;

      transition: all 0.4s;
      background-color: $color-primary;
    }

    &:hover:before {
      width: 100%;
    }
  }