// MARGIN BOTTOM
.margin-b-tn {margin-bottom: 1rem;}
.margin-b-sm {margin-bottom: 2rem;}
.margin-b-md {margin-bottom: 4rem;}
.margin-b-bg {margin-bottom: 6rem;}
.margin-b-hg {margin-bottom: 8rem;}

// MARGIN TOP
.margin-b-tn {margin-bottom: 1rem;}
.margin-b-sm {margin-bottom: 2rem;}
.margin-b-md {margin-bottom: 4rem;}
.margin-b-bg {margin-bottom: 6rem;}
.margin-b-hg {margin-bottom: 8rem;}
