@keyframes rotate-right {
  from {
    transform: rotate(360deg); } }

@keyframes rotate-left {
  from {
    transform: rotate(-360deg); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* 10px */ }

body {
  box-sizing: border-box; }

a {
  text-decoration: none; }

li {
  list-style: none; }

button {
  border: none; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem; }

.heading--primary {
  font-family: "Allerta Stencil", sans-serif;
  font-size: 10rem;
  font-weight: 100;
  color: #fff; }

.heading--secondary {
  font-size: 4rem;
  font-weight: 200;
  color: #82689c; }

.heading--tertiary {
  font-weight: 400;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 1rem; }

.margin-b-tn {
  margin-bottom: 1rem; }

.margin-b-sm {
  margin-bottom: 2rem; }

.margin-b-md {
  margin-bottom: 4rem; }

.margin-b-bg {
  margin-bottom: 6rem; }

.margin-b-hg {
  margin-bottom: 8rem; }

.margin-t-tn {
  margin-top: 1rem; }

.margin-t-sm {
  margin-top: 2rem; }

.margin-t-md {
  margin-top: 4rem; }

.margin-t-bg {
  margin-top: 6rem; }

.margin-t-hg {
  margin-top: 8rem; }

.hidden {
  display: none; }

.underline-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: all 0.5s; }
  .underline-animation:before {
    content: "";
    position: absolute;
    bottom: -.75rem;
    left: 0;
    width: 0;
    height: 1.5px;
    transition: all 0.4s;
    background-color: #4c2771; }
  .underline-animation:hover:before {
    width: 100%; }

.hero__brand {
  z-index: 100;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25rem; }

.hero__img {
  z-index: 100;
  width: 30rem; }

.hero__text {
  text-align: center;
  color: #fff; }
  .hero__text p {
    text-transform: uppercase; }

.wrapper {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 45%;
  background-image: linear-gradient(to top, #1e0b42 0%, #764dc2 100%);
  overflow: hidden; }

.wave {
  position: absolute;
  left: 50%;
  margin-left: -500px;
  margin-top: -500px; }
  .wave--1 {
    z-index: 1;
    top: 5%;
    width: 1000px;
    height: 1025px;
    border-radius: 35%;
    background: rgba(255, 255, 255, 0.9);
    animation: rotate-right 15s infinite linear; }
  .wave--2 {
    z-index: 10;
    top: 6%;
    width: 1050px;
    height: 1040px;
    border-radius: 40%;
    background: rgba(255, 255, 255, 0.1);
    animation: rotate-left 10s infinite linear; }

.form-container {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 100vh; }
  .form-container__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 2rem; }
  .form__input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    background-color: #4c2771;
    border: 1px solid #4c2771;
    border-radius: 3px; }
    .form__input-group label {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 6rem; }
    .form__input-group textarea {
      color: #696969;
      font-size: 1.6rem;
      font-family: inherit;
      padding: 1rem;
      width: 30rem; }
    .form__input-group input,
    .form__input-group select {
      font-size: 2rem;
      background-color: #fff;
      clip-path: polygon(10% 0, 0 100%, 100% 100%, 100% 0);
      border: none;
      padding: 1.5rem;
      width: 30rem;
      text-align: center; }
    .form__input-group select {
      cursor: pointer;
      color: #696969;
      -moz-appearance: none;
      /* Firefox */
      -webkit-appearance: none;
      /* Safari and Chrome */
      appearance: none; }
  .form__cta {
    margin-top: 2rem;
    gap: 1rem;
    display: flex;
    justify-content: space-between; }
  .form button {
    flex-basis: 50%; }
  .form__dropdown {
    position: relative; }
    .form__dropdown--i {
      position: absolute;
      right: 1rem;
      pointer-events: none;
      background: none !important;
      color: #4c2771; }

.error404 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; }
  .error404__logo {
    width: 30rem;
    margin-left: 70px;
    opacity: 0.4; }
  .error404__heading {
    font-size: 8rem;
    color: #947daa; }
  .error404__text {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #4c2771; }
  .error404__link {
    background-color: #4c2771;
    color: #fff;
    border: 2px solid #4c2771;
    border-radius: 3px;
    padding: 1rem;
    transition: all 0.2s; }
    .error404__link:hover {
      background-color: transparent;
      color: #4c2771; }

.tasks {
  position: relative;
  padding: 7rem;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/tasks-background.webp");
  background-size: cover;
  background-position: center; }
  .tasks h2 {
    color: #fff;
    text-align: end;
    margin: 2rem 0; }
  .tasks__columns {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(6, 1fr);
    align-items: baseline;
    gap: 2rem; }
  .tasks__status {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    padding: 1rem; }
  .tasks__empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    color: rgba(153, 153, 153, 0.7); }
    .tasks__empty i {
      font-size: 10rem; }
    .tasks__empty p {
      font-size: 2rem;
      font-weight: 500; }

.button {
  cursor: pointer;
  border: none;
  font-size: 1.6rem;
  transition: all 0.2s;
  border-radius: 3px;
  padding: 1rem 1.5rem; }
  .button:hover {
    transform: translateY(-3px); }
  .button--purple {
    background-color: #4c2771;
    color: #fff; }
  .button--white {
    background-color: #fff;
    color: #4c2771; }
  .button--cancel {
    background-color: crimson;
    color: #fff; }
  .button--underline {
    cursor: pointer;
    border: none;
    background-color: transparent;
    text-decoration: underline; }
    .button--underline:hover {
      text-decoration: none; }

.new-task__heading {
  color: #fff; }

.new-task__form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 1rem; }

.new-task__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85%;
  padding: 4rem 1rem; }

.new-task__input-group {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 9fr;
  align-items: center; }
  .new-task__input-group i {
    color: #fff;
    font-size: 2rem; }
  .new-task__input-group input,
  .new-task__input-group select,
  .new-task__input-group textarea {
    padding: 1rem;
    border: none;
    border-radius: 3px;
    font-size: 1.6rem;
    color: #696969; }
  .new-task__input-group--err {
    grid-column: 2 / -1; }
  .new-task__input-group--time {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #fff; }
    .new-task__input-group--time input {
      width: 35%; }

.new-task__cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem; }
  .new-task__cta--create {
    width: 15rem; }

.time {
  display: flex;
  align-items: center;
  gap: 0.5rem; }

.card {
  position: relative;
  background-color: #fff;
  margin-bottom: 1rem;
  border-radius: 3px;
  padding: 0.5rem;
  border-left: 5px solid transparent;
  min-height: 8rem; }
  .card.trivial {
    border-color: #02afff; }
  .card.easy {
    border-color: #2eaf2e; }
  .card.medium {
    border-color: #ff7b00; }
  .card.hard {
    border-color: #dc143c; }
  .card.epic {
    border-color: #000; }
  .card__title {
    font-weight: 500;
    font-size: 2rem; }
  .card__difficulty {
    font-size: 1.2rem;
    text-transform: uppercase;
    position: absolute;
    padding: 0.25rem;
    border-radius: 3px;
    color: #fff;
    font-weight: 500;
    bottom: 1rem;
    right: 1rem; }
    .card__difficulty.trivial {
      background-color: #02afff; }
    .card__difficulty.easy {
      background-color: #2eaf2e; }
    .card__difficulty.medium {
      background-color: #ff7b00; }
    .card__difficulty.hard {
      background-color: #dc143c; }
    .card__difficulty.epic {
      background-color: #000; }
  .card__members {
    display: flex;
    gap: 0.5rem; }
  .card__member {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 3rem;
    width: 3rem;
    border: 1px solid #947daa;
    color: #947daa;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s; }
    .card__member span {
      z-index: 300;
      display: none;
      border-radius: 3px;
      padding: 0.5rem;
      background-color: #4c2771;
      color: #fff; }
    .card__member:hover {
      background-color: rgba(76, 39, 113, 0.1); }
      .card__member:hover span {
        display: inline-block;
        position: absolute;
        top: 3rem; }
  .card__time {
    position: absolute;
    top: 0.5rem;
    right: 3rem;
    display: flex;
    background-color: #2e4550;
    color: #fff;
    width: max-content;
    padding: 0.5rem;
    gap: 0.25rem;
    border-radius: 3px;
    font-size: 1.2rem; }
    .card__time i {
      margin-right: 0.25rem; }
  .card__btn {
    position: absolute;
    background-color: transparent;
    font-size: 2rem;
    top: 0.5rem;
    right: 0.5rem;
    color: #232323;
    cursor: pointer; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 200;
  background-color: rgba(255, 255, 255, 0.6);
  position: fixed;
  width: 100%;
  height: 7rem;
  padding: 0 3rem;
  border-bottom: 3px solid #4c2771; }
  .header > * {
    color: #4c2771 !important; }
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
  .header__logo {
    max-height: 7rem; }
  .header__list {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 25%; }
  .header__list-item {
    display: flex;
    justify-content: center;
    align-items: center; }
    .header__list-item p {
      font-weight: 500;
      font-size: 2rem; }
  .header__user {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #4c2771;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    transition: all 0.2s; }
    .header__user:hover {
      background-color: rgba(255, 255, 255, 0.3); }
  .header__nav, .header__list, .header__list-item, .header__link {
    height: 100%; }

.sidebar,
.sidebar-opener {
  position: absolute;
  top: 7rem;
  left: 0;
  height: calc(100vh - 7rem); }

.sidebar {
  z-index: 100;
  overflow: hidden;
  width: 40rem;
  background-color: rgba(38, 20, 57, 0.8);
  backdrop-filter: blur(3px);
  transform: translateX(-40rem);
  transition: transform 0.4s; }
  .sidebar__opened {
    transform: translate(0); }
  .sidebar__close-btn {
    right: 1rem;
    border-radius: 3px;
    background-color: transparent; }
    .sidebar__close-btn:hover {
      background-color: rgba(255, 255, 255, 0.2); }

.sidebar-opener {
  z-index: 120;
  border-right: 1px solid #494949;
  background-color: rgba(255, 255, 255, 0.1);
  width: 2rem;
  transition: all 0.3s; }
  .sidebar-opener__closed {
    width: 0px;
    border-color: transparent; }
  .sidebar-opener:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer; }
    .sidebar-opener:hover button {
      background-color: rgba(130, 104, 156, 0.6); }
  .sidebar-opener__btn {
    right: -1.5rem;
    background-color: rgba(76, 39, 113, 0.5);
    backdrop-filter: blur(1px);
    border-radius: 50%; }

.sidebar__close-btn,
.sidebar-opener__btn {
  position: absolute;
  top: 3rem;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  color: #fff; }
