.form-container {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 100vh;

  &__content {
    @include centered-flex;
    flex-direction: column;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  font-size: $big-font-size;

  &__input-group {
    @include centered-flex;
    justify-content: space-between;

    color: $color-white;
    background-color: $color-primary;

    border: 1px solid $color-primary;
    border-radius: $default-border-radius;

    & label {
      @include centered-flex;
      min-width: 6rem;
    }

    & textarea {
      color: $color-grey;
      font-size: $medium-font-size;
      font-family: inherit;
      padding: 1rem;
      width: 30rem;
    }

    & input,
    & select {
      font-size: $big-font-size;

      background-color: $color-white;
      clip-path: polygon(10% 0, 0 100%, 100% 100%, 100% 0);

      border: none;
      padding: 1.5rem;
      width: 30rem;
      text-align: center;
    }

    & select {
      cursor: pointer;
      color: $color-grey;
      -moz-appearance: none; /* Firefox */
      -webkit-appearance: none; /* Safari and Chrome */
      appearance: none;
    }
  }

  &__cta {
    margin-top: 2rem;
    gap: 1rem;
    display: flex;
    justify-content: space-between;
  }

  & button {
    flex-basis: 50%;
  }

  &__dropdown {
    position: relative;

    &--i {
      position: absolute;
      right: 1rem;
      pointer-events: none;
      background: none !important;
      color: $color-primary;
    }
  }
}
