.login {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 100vh;

  &__content {
    @include centered-flex;
    flex-direction: column;
  }

  &__cta {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
  }

  &__button {
    flex-basis: 50%;
    cursor: pointer;
    border: none;
    font-size: $medium-font-size;
    transition: all 0.2s;

    &:hover {
      transform: translateY(-3px);
    }

    &--login {
      background-color: $color-primary;
      color: $color-white;

      padding: 1rem 1.5rem;
      border-radius: 3px;
    }

    &--register {
      background-color: transparent;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
