.tasks {
  position: relative;
  padding: 7rem;
  height: 100vh;

  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/tasks-background.webp");

  background-size: cover;
  background-position: center;

  & h2 {
    color: $color-white;
    text-align: end;
    margin: 2rem 0;
  }

  &__columns {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
  }

  &__status {
    background-color: rgba($color-white, 0.3);
    border-radius: 4px;
    padding: 1rem;
  }

  &__empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include centered-flex;
    flex-direction: column;
    gap: 2rem;

    color: rgba(shade($color-white, 40%), 0.7);

    & i {
      font-size: 10rem;
    }

    & p {
      font-size: $big-font-size;
      font-weight: 500;
    }
  }
}
