.wrapper {
  height: 100%;
  width: 40%;
  position: absolute;
  right: 0;
  top: 0;
  background-image: linear-gradient(
    to top,
    rgb(30, 11, 66) 0%,
    rgb(118, 77, 194) 100%
  );
  overflow: hidden;
}

.wave {
  width: 1000px;
  height: 1025px;
  position: absolute;
  top: 5%;
  left: 50%;
  margin-left: -500px;
  margin-top: -500px;
  border-radius: 35%;
  background: white;
  animation: wave 15s infinite linear;
}

@keyframes wave {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
