.header {
  @include row-spaced-flex;
  z-index: 200;
  background-color: rgba($color-white, 0.6);
  position: fixed;
  width: 100%;
  height: 7rem;
  padding: 0 3rem;
  border-bottom: 3px solid $color-primary;

  & > * {
    color: $color-primary !important;
  }

  &__nav {
    @include row-spaced-flex;
    width: 100%;
  }

  &__logo {
    max-height: 7rem;
  }

  &__list {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 25%;
  }

  &__list-item {
    @include centered-flex;

    & p {
      font-weight: 500;
      font-size: $big-font-size;
    }
  }

  &__user {
    @include centered-flex;

    border: 1px solid $color-primary;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    transition: all 0.2s;

    &:hover {
      background-color: rgba($color-white, 0.3);
    }
  }

  &__nav,
  &__list,
  &__list-item,
  &__link {
    height: 100%;
  }
}
