.modal {
  z-index: 300;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-left: 10px solid transparent;

  height: 45rem;
  width: 80rem;
  padding: 1.5rem;

  border-radius: $default-border-radius;
  background-color: $color-white;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 2fr 2fr 2fr 3fr 5fr 1fr;
  column-gap: 2rem;

  &.trivial {
    border-color: $color-trivial;
  }

  &.easy {
    border-color: $color-easy;
  }

  &.medium {
    border-color: $color-medium;
  }

  &.hard {
    border-color: $color-hard;
  }

  &.epic {
    border-color: $color-epic;
  }
}

.modal-title {
  font-size: 3rem;
  grid-column: 1 / -1;
  align-self: flex-end;
  color: tint($color-grey, 20%);

  & h4 {
    font-weight: 300;
    padding-left: 1rem;
    margin-top: 2px;
    border-bottom: 2px solid tint($color-grey, 50%);
  }

  &__edit {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    & input {
      font-weight: 300;

      font-family: inherit;
      font-size: inherit;
      color: inherit;
      border: none;

      width: 35rem;
      padding-left: 0.8rem;

      border: 2px solid $color-primary;
      border-radius: $default-border-radius;
    }
  }

  &__btn {
    cursor: pointer;

    width: 3.5rem;
    height: 3.5rem;

    border-radius: $default-border-radius;
    font-size: $medium-font-size;
    color: $color-white;

    transition: all 0.2s;

    &:hover {
      transform: translateY(-2px);
    }

    &--save {
      background-color: $color-primary;

      &:hover {
        background-color: tint($color-primary, 20%);
      }
    }

    &--cancel {
      background-color: transparent;
      border: 2px solid $color-red;

      & i {
        color: $color-red;
      }

      &:hover {
        border-color: shade($color-red, 20%);
        background-color: shade($color-red, 20%);

        & i {
          color: $color-white;
        }
      }
    }
  }
}

.modal-difficulty {
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: $small-font-size;
  color: $color-white;

  grid-row: 2 / 3;
  align-self: center;

  background-color: $color-grey;

  border: none;
  border-right: 1rem solid transparent;

  &.trivial {
    background-color: $color-trivial;
  }

  &.easy {
    background-color: $color-easy;
  }

  &.medium {
    background-color: $color-medium;
  }

  &.hard {
    background-color: $color-hard;
  }

  &.epic {
    background-color: $color-epic;
  }
}

.modal-status {
  display: flex;
  align-items: center;
  gap: 1rem;

  grid-row: 3 / 4;
  align-self: baseline;

  background-color: $color-grey;
  color: $color-white;

  padding: 0 1rem;

  &__dropdown {
    flex: 1;

    background-color: inherit;
    color: $color-white;

    padding: 1rem;
    text-transform: uppercase;
    border: none;
  }
}

.modal-time {
  display: flex;
  align-items: center;
  gap: 1rem;

  align-self: baseline;

  background-color: rgba($color-grey, 0.3);
  border-radius: $default-border-radius;

  padding: 1rem;
  width: max-content;

  &__hs,
  &__mins {
    border: none;
    background-color: transparent;
    width: 2rem;
  }

  // HIDE ARROWS INSIDE INPUT NUMBER
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
  // -------------------------------
}

.modal-members {
  grid-column: 1 / 2;
  grid-row: 6 / 7;

  border: 1px solid rgba($color-grey, 0.9);
  border-radius: $default-border-radius;

  height: 100%;
  overflow: hidden;

  &__title {
    background-color: rgba($color-grey, 0.9);
    color: $color-white;

    padding: 0.25rem 1rem;
    font-size: $small-font-size;
    text-transform: uppercase;
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    padding: 0.5rem;
  }

  &__content {
    padding: 0.5rem;
    max-height: 9rem;
    overflow-y: auto;
  }

  &__list {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-self: center;
    overflow: auto;
  }

  &__member {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 1rem;

    border: 1px solid $color-members;
    background-color: rgba($color-members, 0.6);
    color: $color-white;

    padding: 0.5rem;
    border-radius: $default-border-radius;

    transition: all 0.4s;

    &:hover {
      background-color: rgba($color-members, 0.9);
    }

    & i {
      cursor: pointer;
    }
  }

  &__btn {
    &--delete {
      background-color: transparent;
      color: inherit;
    }
  }

  &__add {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
    background-color: white;

    & input {
      flex: 1;
      padding: 0.25rem;
    }

    & button {
      background-color: transparent;
      padding: 0.5rem 1rem;
    }
  }
}

.modal-author {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  align-self: center;

  border: 1px solid rgba($color-grey, 0.9);
  border-radius: $default-border-radius;

  &__title {
    background-color: rgba($color-grey, 0.9);
    color: $color-white;

    padding: 0.25rem 1rem;
    font-size: $small-font-size;
    text-transform: uppercase;
  }

  &__content {
    padding: 0.5rem;
  }
}

.modal-description {
  border: 1px solid rgba($color-grey, 0.5);
  border-radius: $default-border-radius;
  padding: 1rem;

  grid-column: 2 / -1;
  grid-row: 2 / -1;

  background-color: rgba($color-grey, 0.05);
  overflow-y: scroll;

  & p {
    width: 100%;
    height: 100%;
  }

  &__edit {
    position: relative;

    & textarea {
      height: 32rem;
      width: 100%;
      border: none;
      outline: none;
      resize: none;
      background-color: transparent;
    }
  }

  &__btn {
    position: absolute;
    bottom: -2.5rem;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    gap: 8rem;

    &--save,
    &--cancel {
      cursor: pointer;
      padding-top: 1rem;
      background-color: transparent;
      font-weight: 700;

      font-size: $medium-font-size;
      border-radius: $default-border-radius;

      transition: all 0.2s;

      &:hover {
        transform: translateY(-2px);
      }
    }

    &--save {
      color: $color-primary;
    }

    &--cancel {
      color: $color-red;
    }
  }
}

.modal-cta {
  grid-column: 1 / 2;
  grid-row: -2 / -1;

  display: flex;
  padding-left: 2rem;

  &__btn-delete,
  &__btn-close {
    cursor: pointer;
    color: $color-red;
    background-color: transparent;
  }

  &__btn-delete {
    padding-top: 1rem;
    text-decoration: underline;
    font-size: $medium-font-size;
    transition: all 0.2s;

    &:hover {
      text-decoration: none;
      transform: translateY(-2px);
    }
  }

  &__btn-close {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    font-size: 3rem;

    &:hover {
      color: shade($color-red, 30%);
    }
  }
}
